extends layout

block content
  .wrapper
    if user && user.role === 'ADMIN'
      h1 Choose tip to edit:
      form.choose-tip(action="/update-form" method="POST")
        select(name="tip")
          each tip in tips
            option(value=`${tip._id}`) #{tip.name}
        input(type="submit" value="Edit")
    else
      include ./includes/noRights

