title= `${title}`
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel='stylesheet', href='/dist/style.css')
link(rel="shortcut icon" type="image/png" href="/images/icons/d.png")
link(rel="canonical" href="https://todohipo.com")
meta(charset="UTF-8")
//- script(src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js")
script(src="./ckeditor/ckeditor.js")