extend layout

block content
  .wrapper
    h1= title
    form.user.login(action="/act/login" method="POST")
      label(for="email") Email:
      input(type="email" id="email" name="email")
      label(for="password") Pass:
      input(type="password" id="password" name="password")
      input(type="submit" value="Login")