extends layout

block content
  h1= title
  - ;
  p La política de privacidad de esta web estará terminada muy pronto, aún estoy redactándola.
  p Si te preocupa la privacidad, de forma simple puedo decirte lo siguiente:
  ul
    li Esta web solo usa las <strong>cookies</strong> de Google Analytics, nada más. Lo que ellos hacen con tus datos es algo 
      a(href="https://myaccount.google.com/privacy" target="_blank" rel="nofollow") entre tú y Google
      | . Pronto lo sustituiré por otro servicio para que Google no recabe datos tuyos a través de esta web.
    li Y aquí solo registramos tu <strong>IP</strong> si votas en alguno de los <em>consejos</em>. Si no votas, no se registra <strong>nada</strong>. Se utiliza solo para comprobar <em>de forma automática</em> si ya has votado antes. Nadie revisa estos datos de forma manual. Queda registrada en una base de datos gestionada por 
      a(href="https://mlab.com/" target="_blank" rel="nofollow") MLab
      | .
  p Te <strong>prometo</strong> que nunca cederé o venderé tu información a terceros, ni la usaré para geolocalizarte, <em>trackearte</em>, o cosas por el estilo. De verdad.