footer {
  text-align: center;
  padding: 20px 0;
  color: #ccc;
  font-size: 18px;
  background: #eee;
  p, pre {
    margin: 0 0 10px;
    font-size: 18px;
    &:last-child {
      margin: 0;
    }
  }
  a {
    color: #bbb;
    &:hover {
      color: #ccc;
    }
  }
  hr {
    color: $grey;
    border: 1px solid $grey;
    width: 75%;
  }
}