input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $grey;
  &:focus,
  &:active {
    border-color: $purple;
  }
}

label {
  padding: 0;
  margin-bottom: 5px; 
  display: block;
  font-weight: 700;
}

.vote-form,
button {
  &.hidden {
    display: none;
  }
}

.hide-vote .hide-voted {
  display: none;
}

button, input, optgroup, select, textarea {
  font-family: 'Comfortaa', cursive;
}

button,
.button,
input[type="submit"] {
  padding: 15px 25px;
  margin: 0 0 20px 0;
  line-height: 1.2;
  box-shadow: none;
  border: none;
  background-color: $purple;
  color: $white;
  cursor: pointer;
  p {
    margin: 0;
  }
  &.sec{
    background-color: $grey;
    color: $black;
    &:hover {
      background-color: #eee
    }
  }
  &:hover {
    background-color: #9c96ec;
  }
}

a.button {
  display: block;
  text-align: center;
}

p.add-option {
  cursor: pointer;
  &:hover {
    color: $purple;
  }
}