.top {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  grid-template-columns: 1fr;
  justify-items: left;
  @media only screen and (max-width: 720px) {
    justify-items: center;
  }
  h2 {
    font-family: 'Permanent Marker', cursive;
    color: $purple;
    padding: 0;
    margin: 0;
    font-size: 35px;
    line-height: 1;
    text-transform: none;
    @media only screen and (max-width: 720px) {
      font-size: 28px;
    }
  }
}