html {
  font-size: 18px;
}

body {
  background: $white;
  min-height: 100vh;
}

.content {
  padding: 40px 0;
  @media all and (max-width: 550px) {
    padding-top: 0;
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 920px) {
    margin: 0 30px;
  }
}