html {
  font-size: 18px;
}

body {
  position: relative;
  min-height: 100vh;
}

header {
  width: 100%;
  position: relative;
  background: transparent;
}

.content {
  padding: 0;
  @media all and (max-width: 550px) {
    padding-top: 0;
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  @media only screen and (max-width: 920px) {
    margin: 0 30px;
  }
  @media only screen and (max-width: 720px) {
    margin: 0 10px;
  }
}
