html {
  font-size: 18px;
}

body {
  position: relative;
  // background: $white;
  min-height: 100vh;
}

header {
  // border: 1px solid red;
  width: 100%;
  position: relative;
  background: transparent;
}

footer {
  background: #eee;
  p, pre {
    margin: 0;
  }
}

.content {
  padding: 0;
  @media all and (max-width: 550px) {
    padding-top: 0;
  }
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 920px) {
    margin: 0 30px;
  }
}