.nav {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background: $white;
  &-section {
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    &-item {
      &:hover, &-active {
        border-bottom: 3px solid $purple;
        color: $purple;
      }
      &:hover {
        padding-bottom: 2px;
      }
      &-active:hover {
        padding-bottom: 5px;
      }
    }
  }
  #mobile-logo {
    display: none;
  }
  #menu {
    justify-self: start;
  }
  #user {
    justify-self: end;
  }
  a {
    display: grid;
    align-items: center;
    padding: 5px 20px;
  }
  h2 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    line-height: 1;
    text-transform: none;
  }
}
@media all and (max-width: 650px) {
  .nav {
    grid-template-columns: 1fr 1fr;
    #logo {
      display: none;
    }
    #mobile-logo {
      display: block;
      grid-column: span 2;
    }
  }
}
@media all and (max-width: 550px) {
  .nav {
    align-items: center;
    a {
      text-align: center;
    }
    .avatar {
      margin: 0 auto;
    }
    #menu, #user {
      justify-self: center;
    }
    .nav-section-item {
      margin-bottom: 10px;
      &:hover, &-active {
        border: none;
        padding-bottom: 5px;
      }
    }
    &-section {
      grid-template-columns: 1fr;
    }
  }
}