.tips {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}
.tip {
  border: 1px solid #eee;
  border-radius: 15px;
  box-shadow: 0 2px 0 #eee;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 10px 0;
  transform: scale(0.99);
  transition: all 0.15s;
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  grid-gap: 10px;
  align-items: center;
  &:hover {
    transform: scale(1);
  }
  .num {
    color: $orange;
    font-size: 35px; /*60*/
    justify-self: center;
    margin: 0;
    line-height: 1;
    font-family: 'Permanent Marker', cursive;
  }
  .title {
    margin: 0;
    font-size: 26px; /*30*/
  }
  .vote-forms {
    background: #eee;
    border-radius: 10px;
    padding: 5px;
  }
  .votes {
    text-align: center;
    display: grid;
    justify-items: center;
    .total {
      display: inline-block;
      margin: 0;
      font-size: 24px; /*30*/
      color: #555;
      &.vota {
        font-size: 15px;
        margin-bottom: 0;
        line-height: 1;
      }
    }
  }
  .more {
    display: none;
    // grid-template-columns: 1fr 8fr 2fr;
    grid-column-start: 2;
    margin-top: 15px;
    .cats {
      display: grid;
      grid-template-columns: auto;
      justify-items: left;
      .cat {
        background: $orange;
        padding: 5px;
        color: #fff;
      }
    }
    .user {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin: 15px 0;
    }
  }
  .vote-forms {
    display: none;
    grid-column-start: 3;
    form input {
      padding: 7px 8.2px;
      border-radius: 50%;
      margin: 0;
      display: inline-block;
      background: transparent;
      font-size: 19px;
      &:hover {
        background: $orange;
      }
    }
  }
  &.show {
    transform: scale(1);
    .more {
      display: grid;
    }
    .vote-forms {
      display: grid;
      &.hidden {
        display: none;
      }
    }
  }
}