@font-face {
  font-family: 'Comfortaa', cursive;
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 22px;
}

body {
  font-size: 22px;
  font-family: 'Comfortaa', cursive;
  color: $black;
}

h1, h2, h3, h4, h5, h6, {
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  margin-bottom: 15px;
}

h1 {
  font-size: 46px;
  margin-bottom: 26px;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  margin: 0 0 20px;
}

h3 {
  font-size: 30px;
  margin-bottom: 18px; 
}

a {
  text-decoration: none;
  color: $black;
}

p a,
h2 a {
  color: $purple;
  &:hover {
    color: $black;
  }
}

p {
  font-size: 22px;
  margin: 0 0 20px 0;
  line-height: 1.4
}

nav {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
}