footer {
  text-align: center;
  padding: 45px 0;
  color: #aaa;
  font-size: 18px;
  background: #eee;
  margin-top: 90px;
  p,
  pre {
    margin: 0 0 10px;
    font-size: 18px;
    &:last-child {
      margin: 0;
    }
  }
  a {
    color: #999;
    &:hover {
      color: #aaa;
    }
  }
  hr {
    color: $grey;
    border: 1px solid $grey;
    width: 75%;
    margin: 45px auto;
  }
  .admin-links {
    a, input {
      text-decoration: underline;
    }
  }
}
